.page-header-cart {
  margin-top: 21px;
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 1500px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-form {
  background: rgba(99, 110, 114, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}
.empty-form {
  background: #e9eceff7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}
.cart-form th{
  border-top:0px solid !important;
}
.infor-payment {
  position: absolute;
  width: 239px;
  height: 56px;
  left: 1491px;
  top: 276px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
.img-fluid-cart {
  max-width: 169px;
  max-height: 91px;
}

.table-bill tr td {
  border-top: 0px solid #dee2e6 !important;
}
.form-control-cart {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  text-align: center;
}
.input-group-cart {
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.wordbreak{
  word-break: break-all;
  width: 20%;
}
.icon-danger{
  color:red;
}

