
.payment{
	padding: 15px;
}
.buyfor{
	padding: 10px;
	margin: 5px;
}
.img-icon-momo{
	width: 30px;
	height: 30px;
	margin-left: 40px;
}
.img-icon-napas{
	width: 48px;
	height: 30px;
	margin-left: 15px;
}