.form-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
  }
  .background{
      height: 100vh;
      object-position: center;
      opacity: 1;
      overflow-x: hidden;
      overflow-y: hidden;
  }