.bill-infor{
    height: 72px;
    color:black;
    border-radius: 3px;
}
.flex{
    display: flex;
}
.img-bill{
    max-height: 60px;
    max-width: 60px;
}
.text-overflow{
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.margin-top-100{
    margin-top: 100px;
}