.hinhnen {
    height: 350px;
    background-image: url(../../Asset/Img/wl.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.text-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
}


@media (min-width: 336px) {

    .text-name {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
    }

}


.text-tb {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 35px;
}






@media (min-width: 437px) {

    .text-tb {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 35px;
    }

    @media (min-width: 470px) {

        .text-tb {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 35px;
        }
        @media (min-width: 540px) {

            .text-tb {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 35px;
            }
        
        }
        
    
    }

}